:root {
    --corazul: #163489;
    --corlimao: #ed9200;
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.corlimao {
    color: var(--corlimao);
}

.corazul {
    background-color: var(--corazul);
}

.div-novidades {
    width: 325px;
}

@media screen and (min-width: 768px) {
    .div-novidades {
        width: 696px;
    }
}

.banner-1 {
  background-image: url("assets/banners/banner.png");
}

.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-titulos {
  --bs-bg-opacity: .2;
}